# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Go
server/tmp/
server/*.exe
